*.log
*.swp
*.pyc
.idea/
.vscode/
.DS_Store
static/CACHE
.sass-cache/
.ropeproject/
*.ipynb
.coverage
celery
premiere/pizza
*.dump
*.pgdump
dump.rdb
premiere/gspread
static/*
htmlcov/
*~
*.csv
*.bak
*.db
celerybeat.pid
.vagrant
src/
*.css.map
*.js.map
bower_components/*
.env
*.orig
.pythonrc
.local_ci_artifacts/
bin/
lib/**
lib/
